body {
	font-family: Roboto, Helvetica, Arial, Verdana, sans;
	font-size: 100%;
	color: #000;

	margin: 0;
	padding: 0;

	background-color: #FFF;
	background-image: url("../images/main-bg.png");
	background-repeat: repeat-x;
}

h1 {
	font-size: 3.5em;
	color: #EAEAEA;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;

	padding: 0;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 0.875em;
}



#wrapper {
	margin: 0;
	padding: 0.1em;

	min-width: 400px;
	max-width: 850px;
}

#header {
	margin-top: 125px;
	padding: 0.4em;
	width: 100%;
}

.white {
	color: #FFF;
}